.packsBox {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addBtn {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    align-items: center;
}
