.wrapper {
  font-family: "Jost", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(40, 44, 52, 0.8);
  z-index: 1000;
}

.modal {
  max-width: 22vw;
  min-width: 320px;
  height: auto;
  border-radius: 10px;
  padding: 20px
}



